.linksCont {
  display: flex;
  gap: 75px;
  justify-content: center;
}

.headerContainer {
  position: relative;
  z-index: 3;
}

.drawerIcon {
  display: flex;
  justify-content: end;
  align-items: end;
}

.iconContainer {
  width: 100%;
  justify-content: center;
  display: flex;
  gap: 40px;
}

.linkText > p {
  color: #000 !important;
  font-size: 16px !important;
  font-weight: 500;
}

.drawerImageCont {
  position: relative;
  margin: 0 auto;
  width: 80%;
  height: 45px;
  margin-top: 1rem;
}

.rootContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.linkRenderingDrawer {
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 20px;
  background-color: var(--light-bg-color);
}

.iconContainerDrawer {
  margin-top: 1rem;
  display: flex;
  justify-content: space-around;
}

.logoContainerStyle {
  position: relative;
  height: 29px;
  width: 135px;
}
