/* headings */

.h1 {
  font-size: 52px;
  font-family: var(--Poppins);
  font-weight: 700;
  color: var(--primary-clr);
}

.h2 {
  font-size: 48px;
  font-family: var(--Poppins);
  font-weight: 500;
  color: var(--black-default-clr);
}

.h3 {
  font-size: 40px;
  font-family: var(--Poppins);
  font-weight: 700;
  color: var(--text-black-clr);
}

.h4 {
  font-size: 36px;
  font-family: var(--Poppins);
  font-weight: 500;
  color: var(--black-default-clr);
}

.h5 {
  font-size: 32px;
  font-family: var(--Poppins);
  font-weight: 700;
  color: #333;
}

.h6 {
  font-size: 28px;
  font-family: var(--Poppins);
  font-weight: 600;
  color: var(--text-black-clr);
}

.h7 {
  font-size: 24px;
  font-family: var(--Poppins);
  font-weight: 600;
  color: var(--text-black-clr);
}

.h7-default {
  font-size: 24px;
  font-family: var(--Poppins);
  font-weight: 500;
  color: var(--black-default-clr);
}

.h7-light {
  font-size: 24px;
  font-family: var(--Poppins);
  font-weight: 400;
  color: var(--gray-clr);
}

/* body */

.p1 {
  font-family: var(--Poppins);
  font-size: 20px;
  font-weight: 400;
  color: #666;
}

/* .p1-light {
  font-family: var(--Poppins);
  font-size: 20px;
  font-weight: 400;
  color: #666;
} */

.p2 {
  font-family: var(--Poppins);
  font-size: 18px;
  font-weight: 500;
  color: #333;
}

.p3 {
  font-family: var(--Poppins);
  font-size: 16px;
  font-weight: 500;
  color: var(--text-black-v2);
}

/* Media queries for responsiveness */

/* 1400px */
@media (max-width: 1400px) {
  .h1 {
    font-size: 48px;
  }
  .h2 {
    font-size: 44px;
  }
  .h3 {
    font-size: 36px;
  }
  .h4 {
    font-size: 32px;
  }
  .h5 {
    font-size: 28px;
  }
  .h6 {
    font-size: 24px;
  }
  .h7,
  .h7-default,
  .h7-light {
    font-size: 22px;
  }
  .p1 {
    font-size: 18px;
  }
  .p2 {
    font-size: 16px;
  }
  .p3 {
    font-size: 14px;
  }
}

/* 1200px */
@media (max-width: 1200px) {
  .h1 {
    font-size: 44px;
  }
  .h2 {
    font-size: 40px;
  }
  .h3 {
    font-size: 34px;
  }
  .h4 {
    font-size: 30px;
  }
  .h5 {
    font-size: 26px;
  }
  .h6 {
    font-size: 22px;
  }
  .h7,
  .h7-default,
  .h7-light {
    font-size: 20px;
  }
  .p1 {
    font-size: 16px;
  }
  .p2 {
    font-size: 14px;
  }
  .p3 {
    font-size: 12px;
  }
}

/* 992px */
@media (max-width: 992px) {
  .h1 {
    font-size: 40px;
  }
  .h2 {
    font-size: 36px;
  }
  .h3 {
    font-size: 32px;
  }
  .h4 {
    font-size: 28px;
  }
  .h5 {
    font-size: 24px;
  }
  .h6 {
    font-size: 20px;
  }
  .h7,
  .h7-default,
  .h7-light {
    font-size: 18px;
  }
  .p1 {
    font-size: 16px;
  }
  .p2 {
    font-size: 14px;
  }
  .p3 {
    font-size: 12px;
  }
}

/* 768px */
@media (max-width: 768px) {
  .h1 {
    font-size: 36px;
  }
  .h2 {
    font-size: 32px;
  }
  .h3 {
    font-size: 28px;
  }
  .h4 {
    font-size: 24px;
  }
  .h5 {
    font-size: 20px;
  }
  .h6 {
    font-size: 18px;
  }
  .h7,
  .h7-default,
  .h7-light {
    font-size: 16px;
  }
  .p1 {
    font-size: 14px;
  }
  .p2 {
    font-size: 13px;
  }
  .p3 {
    font-size: 12px;
  }
}

/* 576px */
@media (max-width: 576px) {
  .h1 {
    font-size: 32px;
  }
  .h2 {
    font-size: 28px;
  }
  .h3 {
    font-size: 24px;
  }
  .h4 {
    font-size: 20px;
  }
  .h5 {
    font-size: 18px;
  }
  .h6 {
    font-size: 16px;
  }
  .h7,
  .h7-default,
  .h7-light {
    font-size: 14px;
  }
  .p1 {
    font-size: 12px;
  }
  .p2 {
    font-size: 11px;
  }
  .p3 {
    font-size: 10px;
  }
}
